.fs_128 {
  font-size: 128px;
}

.fs_32 {
  font-size: 32px;
}

.fs_40 {
  font-size: 40px;
}

.fs_24 {
  font-size: 24px;

}
.fs_20 {
  font-size: 20px;
}

.line_height_1-5 {
  line-height: 1.5;
}

.letter_spacing_12 {
  letter-spacing: 0.12em;
}

.text_right {
  text-align: right;
}

.text_center {
  text-align: center;
}

.bg_gray {
  background-color: #EFEFEF;
}

.bg_black {
  background-color: #000000;
}

.py_48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py_64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.pt_80 {
  padding-top: 80px;
}

.pb_160 {
  padding-bottom: 160px;
}

.pt_160 {
  padding-top: 160px;
}

.w_50 {
  width: 50%;
}

.d_block {
  display: block;
}

.d_inline_block {
  display: inline-block;
}

.mx_auto {
  margin-left: auto;
  margin-right: auto;
}

.ms_auto {
  margin-left: auto;
}

.me_40 {
  margin-right: 40px;
}

.mb_40 {
  margin-bottom: 40px;
}

.mb_16 {
  margin-bottom: 16px;
}

.mb_12 {
  margin-bottom: 12px;
}

.mb_8 {
  margin-bottom: 8px;
}

.border_bottom_3 {
  border-bottom: 3px solid #AE0000;
}

.text_red {
  color: #AE0000;
}

.text_949494 {
  color: #949494;
}

.text_decoration_none {
  text-decoration: none;
}

.text_inherit {
  color: inherit;
}

.font_italic {
  font-style: italic;
}

.hover_opacity:hover {
  opacity: .7;
}